/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  font-family: sans-serif;
}

.container{
  margin: 15px;
 }

 .spacer{
  flex:1 1 auto;
 }

 table {
  width: 100%;
}

